# This is an example of the kind of things you can do in a configuration file.
# All flags used by the client can be configured here. Run Certbot with
# "--help" to learn more about the available options.
rsa-key-size = {{ letsencrypt_rsa_key_size }}
email = {{ letsencrypt_email }}
{% if letsencrypt_extra_conf %}
{{ letsencrypt_extra_conf }}
{% endif %}